<h1>{{title}}</h1>
<div *ngIf="about">
  <mat-list>
    <h2 mat-header>API</h2>
    <h3 mat-subheader>{{ about.description }}</h3>

    <mat-list-item>
      <mat-icon mat-list-icon>settings</mat-icon>
      <h4 mat-line>v{{ about.version }}</h4>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>desktop_mac</mat-icon>
      <h4 mat-line><a href="{{ about.homepage }}" target="_blank">{{ about.homepage }}</a></h4>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>account_balance</mat-icon>
      <h4 mat-line>{{ about.license }}</h4>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>bug_report</mat-icon>
      <h4 mat-line><a href="{{ about.bugs.url }}" target="_blank">{{ about.bugs.url }}</a></h4>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>mail_outline</mat-icon>
      <h4 mat-line><a href="mailto:{{ about.bugs.email }}" target="_blank">{{ about.bugs.email }}</a></h4>
    </mat-list-item>

  </mat-list>
</div>
<div *ngIf="error">
  An error occurred:
  {{error}}
</div>
