<mat-card class="esaude-app-card">
  <mat-card-title>{{ app.name }}</mat-card-title>
  <mat-card-subtitle>
    <span *ngIf="app.version; else elseBlock">v{{ app.version }}</span>
    <ng-template #elseBlock>Unknown Version</ng-template>
  </mat-card-subtitle>
  <mat-card-content>

    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let container of app.containers">
        <!-- this should be it's own component -->
        <mat-card class="esaude-container-card">
          <mat-card-header>
            <div class="esaude-container-status-icon" matTooltip="{{ container.status }}" [matTooltipPosition]="'above'">
              <div *ngIf="container.state === 'running'; else elseBlock">
                <mat-icon>check_circle</mat-icon>
              </div>
              <ng-template #elseBlock>
                <mat-icon>error</mat-icon>
              </ng-template>
            </div>
            <mat-card-title>{{container.image.name}}</mat-card-title>
            <mat-card-subtitle>
              <span *ngIf="app.version; else elseBlock1">v{{ container.image.version }}</span>
              <ng-template #elseBlock1>Unknown Version</ng-template>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Created {{ container.created.display }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Restart</button>
    <button mat-button>Stop</button>
  </mat-card-actions>
</mat-card>
<p></p>
