<mat-card class="esaude-upgrade-card">
  <mat-card-title>[1/4] Pre-Upgrade Test <span *ngIf="testRunningComplete"><mat-icon>check</mat-icon></span></mat-card-title>
  <mat-card-subtitle>Ensure eSaude Platform is not already installed</mat-card-subtitle>
  <mat-card-content>
    <span *ngIf="platformInstalledTestRun">
      <span *ngIf="platformInstalled; else elseBlock">The eSaude Platform app is already installed. Please backup and remove
      the app to proceed with upgrade from native.</span>
      <ng-template #elseBlock>No eSaude Platform app detected.</ng-template>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="testRunningComplete" (click)="checkPlatformInstalled()">Check</button>
  </mat-card-actions>
</mat-card>
<p></p>
