<h1>{{title}}</h1>
<div *ngIf="backups">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Database">
      <div class="esaude-backup-tab-container">
        <div *ngIf="creating; else elseBlock">
          <h2><a id="esaude-backupt-create-button" mat-raised-button color="primary" disabled><img height="12px" src="../assets/img/loader.gif"/> <i>Creating...</i></a></h2>
        </div>
        <ng-template #elseBlock>
          <h2><a id="esaude-backupt-create-button" mat-raised-button color="primary" (click)="createBackup()"><mat-icon mat-list-icon>add_circle_outline</mat-icon> Create New</a></h2>
        </ng-template>
      </div>

      <div class="esaude-backup-tab-container">
        <esaude-admin-backup *ngFor="let backup of backups.database" [backup]="backup"></esaude-admin-backup>
      </div>

    </mat-tab>

    <mat-tab disabled label="Modules">
    </mat-tab>

    <mat-tab disabled label="Application">
    </mat-tab>

    <mat-tab disabled label="Bundles">
    </mat-tab>

  </mat-tab-group>
</div>
<div *ngIf="error">
  An error occurred: {{error}}
</div>
