<h1>{{title}}</h1>
<div *ngIf="backups">
  <md-tab-group dynamicHeight>
    <md-tab label="Database">
      <div class="esaude-backup-tab-container">
        <div *ngIf="creating; else elseBlock">
          <h2><a id="esaude-backupt-create-button" md-raised-button color="primary" disabled><img height="12px" src="../assets/img/loader.gif"/> <i>Creating...</i></a></h2>
        </div>
        <ng-template #elseBlock>
          <h2><a id="esaude-backupt-create-button" md-raised-button color="primary" (click)="createBackup()"><md-icon md-list-icon>add_circle_outline</md-icon> Create New</a></h2>
        </ng-template>
      </div>

      <div class="esaude-backup-tab-container">
        <esaude-admin-backup *ngFor="let backup of backups.database" [backup]="backup"></esaude-admin-backup>
      </div>

    </md-tab>

    <md-tab disabled label="Modules">
    </md-tab>

    <md-tab disabled label="Application">
    </md-tab>

    <md-tab disabled label="Bundles">
    </md-tab>

  </md-tab-group>
</div>
<div *ngIf="error">
  An error occurred: {{error}}
</div>
